h1 a {
	font-family: 'Times New Roman';
	color: white;
}

h2 a {
	font-family: 'Times New Roman';
	color: black;
}

body {
	font-family: 'Times New Roman';	
}

 .jumbotron {
	color: white;
	margin-top 0;
	padding: 20px 20px 20px 40px;
	background-color: purple;
}

.post {
	padding-left: 15px;
}

