h1 a {
	font-family: 'Time New Roman';
	color: white;
}

h2 a {
	font-family: 'Times new Roman';
	color: black;
}

body {
	
}

.post {
	padding-left: 15px;
}

.page-header {
	color: white;
	background-color: purple;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
}
